.content{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.nav-box{
    float: left;
    text-align: center;
    padding: 40px;
}

.nav-box ul{
    list-style-type: none;
    
}

.nav-box li{
    margin: 10px;
    padding: 20px 40px;
    display: inline-flex;
   
}

.nav-box a{
    text-decoration: none;
    
}

.nav-box h5{
    padding: 5px;
}



