.form {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.form form{
    max-width: 100%;
    padding: 150px 90px;
}

.form h2{
    color: #A7A7A7;
    font-weight: 40;
    text-align: center;
}