.text-field {
    margin: 30px auto;
}

.text-field input{
    border: 0;
    width: 100%;
    background: none;
    display: block;
    text-align: center;
    border: 1px solid;
    padding: 14px 20px;
    outline: none;
    color: #A7A7A7;
    border-radius: 24px;
    transition: 0.25s;
    box-sizing: border-box;
}

.text-field input:focus{
    width: 107%;
    border-color: #7047EB;
    
  }

