
*{
  background-color: #28272A;
  color: #A7A7A7;
}

 table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  margin: auto auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

 table th {
  border: 1px solid #3e3d41;
  background-color: #3e3d41;
  padding: 5px;
  text-align: left;
}

table td {
  border: 1px solid #3e3d41;
  padding: 15px;
  text-align: left;
}


